@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}

.card{
    width: 319px;
    height: 492px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.one{
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
}

.two{
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
}

h3{
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 4px;
}

p{
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 256px;
}

.top{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    z-index: 1;
}

.f{
    border: 4px solid #554C4C;
}

.s{
    border: 4px solid #65856E;
}